@import "./search/date-picker.styl"
@import "./search/place-picker.styl"

.search-modal
  position: absolute

.search-date-picker

  text-transform uppercase
  font-weight bold
  color: #666;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
