.search-date-picker
  .content-headline
    font-weight bold
    font-size 18px
    margin-top: 5px
    margin-bottom 10px
  .calendar-view
    float: left
    margin-right: 6px
    &.main-calendar-view
      margin-left: 6px

  .prev, .next
    color: #FFFFFF
    width: 20px
    margin-top: 66px;
    height: 180px;
    line-height 180px;
    float: left
    cursor pointer
    &:hover
      background-color #FDFFE4
    div
      vertical-align: middle;
      display inline-block
      width: 15px
      height: 68px
      margin-left: 3px;
      margin-top: -6px;

  .prev
    margin-right: 5px;
  .prev div
    sprite($sprite-calendar-prev)
  .next div
    sprite($sprite-calendar-next)

  .clear-both
    clear: both

  .content
    width: 800px

.month-matrix
  width: 370px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 13px
  .months
    border: $border;
  .months:after  /* clearfix */
    content:"";
    display:table;
    clear:both;


  .month-option
    cursor pointer
    margin: 0
    width: 33.3%;
    height: 80px;
    float: left
    background-color: #FFF;
    color: #666;
    line-height: 1em;
    /*box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.55);*/
    text-align center
    &:hover
      color: $hoverFontColor
      background-color $hoverColor
    .month-name
    .month-year
      font-weight bold
      display inline-block
    .month-year
      font-size 12px
      padding-top 3px
    .month-name
      padding-top 25px

.clndr

  margin: 0 auto;
  .clndr-month
    font-size 19px
    width: 100%
    height: 44px;
    padding-left 7px
    padding-right 7px
    padding-top 15px
    color: #595C5E
    font-weight bold

  .clndr-grid
    width: $calendarWidth;
    box-sizing: content-box;
    text-align: center
    background: yellow
    border: $border;
    white-space nowrap
    .day-names  div, .days .week div
      display: inline-block;
      width: 14.2857142857%;
      background: #fff;

    .day-names
      background-color $mainColor
      > div
        font-size 12px
        height: 22px
        color: #FFFFFF
        font-weight bold
        line-height: 22px;
        background-color $mainColor
        span
          line-height 22px;
          vertical-align bottom

    .days > .week > div
      cursor: pointer
      height: 30px;
      line-height: 30px;
      &.other
        color: #b0b0b0;

      &.disabled
        cursor: default

      &.prev-month, &.next-month, &.disabled
        color: #DFDFDF;

      &.selected
        background-color $selectColor
        color: $selectFontColor

      &:active
        color: $hoverFontColor
        background-color $hoverColor

      &.over
        color: $hoverFontColor
        background-color $hoverColor
        &.selected
          background-color $mainColor

      &.prev-month.selected
      &.next-month.selected
        color: #DFDFDF;
        background-color: #E8F2FF
      &.prev-month.over
      &.next-month.over
      &.disabled.over
      &.disabled.selected
        color: #DFDFDF;
        background-color: #E8F2FF;

.time-to-stay
  padding 25px
  padding-top 13px
  min-height: 230px
  .slider
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    width: 320px;
    height: 25px;
    &.sliderMax
      margin-top: -25px
    .handle
      text-align: center;
      background-color: #FFFFFF;
      cursor: pointer;
      border: $border
      position: relative;
      top: 1px;
      width: 30px;
      line-height: 23px;
  .slider-axe
    height: 2px
    background-color #E7E7E7
    width: 320px
    margin-top -12px
    border-radius: 3px;

  .confirm-time-to-stay-button
    display none /* temporary removed */


//compact size is added by js
.search-modal.compact-size
  .calendar-view-2,
  .calendar-view-3
    display none

@media(max-width:699px)
  .search-date-picker
    width: 100% !important
    height: 100% !important

    .content
      width: 100%;
      .next, .prev
        width: 30px;
        height: 30px;
        &:hover
          background-color transparent
        position: absolute;

        top: 0px;
        margin-top: 30px;
        > div
          display block;
          height: 30px;
          width: 30px;

      .prev
        left: 8px;
      .next
        right: 8px;


      .prev div,
      .next div
        margin-left: 0px;
        background: none
        &:after
          position: absolute;
          font-size: 30px;
          margin-left: 10px;
          pointer-events: none;
          text-align: center;
          font-family FontAwesome;
          color: #C4C6C7;
          line-height 1; font-style normal; font-weight normal; // Reset

      .prev div
        &:after
          content: "\f0d9";
      .next div
        &:after
          content: "\f0da";

      > div
        overflow-y auto
        overflow-x hidden
        height 100%
        .calendar-view
          width: 100%
          .clndr
            .clndr-month
              text-align center
            .clndr-grid
              width: 100%
        .calendar-view-2,
        .calendar-view-3
          display none

    .month-matrix
      width: 100%
      padding-left: 2px;
      padding-right: 2px;
      .month-option
        width: 33.3%
        margin: 0px

    .time-to-stay
      padding: 0px;
      .slider
        width: 100%;
      .slider-axe
        width: 100%;
