.search-place-picker
  .content
    padding-bottom: 6px;
    .loader
      position: absolute
      height: 100%
      width: 417px;
      background-color rgba(255,255,255,0.5)
      z-index: 1;
      text-align center
      padding-top 120px
      box-sizing border-box
      overflow hidden
      transition: opacity .5s;
      opacity: 1;

      &.not-loading
        opacity: 0;
        pointer-events: none;

    .places
      overflow-y scroll
      height: 269px;
      width: 417px;



  .place-row
    position: relative
    height 30px;
    line-height 30px;
    width: 390px
    padding-top 0px
    border-bottom: $border
    cursor pointer
    &:hover, &.selected
      background-color #fff9ce

    .name
      position: absolute;
      /*margin-top: 11px;*/

    .type
      position: absolute;
      right: 0px

