$height = 285px
$modeSelectorWidth = 170px

.search-modal
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  padding 0px
  margin 0px
  padding-top 0px
  margin-top: -1px
  font-family sans-serif
  transition: width 0.5s, margin-left 0.3s
  & *
    box-sizing border-box
  .close-button
    display none

  .mode-selector
    font-weight bold
    width: $modeSelectorWidth
    height: 100%
    border-right: $border
    &>div
      cursor: pointer
      width: 100%
      padding: 10px
      border-bottom: $border
      &:hover
        color: $hoverFontColor
        background-color: $hoverColor
      &.active
        color: $selectFontColor
        background-color: $selectColor


.search-picker
  color: #666;
  overflow: hidden;
  background-color #fff
  z-index: 65 /*minimum 64 because of shadow above search form */
  border: $border
  height: $height
  position relative
  .content
    padding: 6px
    padding-bottom: 25px;
    float: left;
    height: 100%
    position absolute
    top: 0px
    left: $modeSelectorWidth
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none

@media(max-width:699px)
  .search-picker
    height: 100%;
    border none
    .content
      padding: 15px
      z-index: 10001
      position: absolute;
      top: initial;
      left: initial;
      height: 405px;
      width: 100%;
      box-sizing border-box
      padding-bottom: 100px;
      overflow hidden
  .search-modal
    top: 0px !important /* all importants are here because it is rewriting javascript generated inline style */
    margin-left: 0px !important
    width: 100% !important
    position: relative
    height: 380px;
    z-index: 10000
    box-sizing: border-box;
    .close-button
      display: block;
      background-color: #FFF;
      border: 1px solid #CCC;
      position: absolute;
      bottom: 15px;
      right: 15px;
      margin: 6px;
      padding: 10px;
      font-weight: bold;
      z-index: 100;
      cursor: pointer
      &:hover
        color: #FFF;
        background-color: #6FA6E8;
    .search-modal-content
      height: 100%

    .mode-selector
      z-index: 10002
      margin: 4px
      border: none
      height: initial;
      width: 100%;
      &>div
        margin: 3px
        padding: 10px;
        display: inline-block;
        width: initial
        border: $borderColor solid 1px

